.side-bar {
  width: 220px;
  background: lightgray;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 120px);
  position: sticky;
  top: 90px;
}

.side-bar nav ul {
  list-style: none;
  padding: 0;
}
.side-bar span {
  color: black;
}

.side-bar nav li {
  margin: 0.5rem 0;
}

.side-bar nav a {
  text-decoration: none;
  color: #ecf0f1;
  padding: 12px 20px;
  transition: background-color 0.2s ease;
}

.side-bar nav a:hover,
.side-bar nav a.active {
  background-color: #b6b6b6;
}

.side-bar-button{
  display: flex;
    gap: 10px;
}

.side-bar-icon{
  width: 20px;
}