.store-page-wrapper{
  flex-grow: 1;
  padding: 1rem;
  background-color: #ecf0f1;
}

.store-page-container{
    border: 1px solid;
    background: #fff;
    border-radius: 7px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  align-items: center;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
}


.grid-header{
    /* padding: 1.5rem; */
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
    background: #fafafa;
    border-radius: 7px 7px 0 0;
}

.grid-header-full-border{
    padding: 1.5rem;
    border-right: 1px solid;
}

.grid-header-half-border{
    border-right: 1px solid;
    padding: 10px;
    border-right: 1px solid;
}

.grid-header-no-border{
    padding: 10px;

}

.grid-container-full-border{
    padding: 1.25rem;
    border-right: 1px solid;
}